<li>
  <%= gamble.created_at %> - Números Elegidos: 
  <%= gamble.firstChosen %>,
  <%= gamble.secondChosen %>,
  <%= gamble.thirdChosen %>,
  <%= gamble.fourthChosen %>,
  <%= gamble.fifthChosen %>

  // Numeros sorteados:
  <%= gamble.firstRaffled %>,
  <%= gamble.secondRaffled %>,
  <%= gamble.thirdRaffled %>,
  <%= gamble.fourthRaffled %>,
  <%= gamble.fifthRaffled %>

  // ganancia:  <%= gamble.profit %>

</li>