<style type="">

.margin{
  margin: 5px;
}
</style>

<div class="row" style="margin: 10px;">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body"> 
        <h3><strong>Resultados</strong></h3>    
        <div class="row margin" >
          <h4><strong>Números seleccionados</strong></h4>
            <%= @gamble.firstChosen %> -
            <%= @gamble.secondChosen %> -
            <%= @gamble.thirdChosen %> -
            <%= @gamble.fourthChosen %> -
            <%= @gamble.fifthChosen %>
        </div>
        <div class="row margin">
          <h4><strong>Números sorteados</strong></h4>
          <%= @gamble.firstRaffled %>-
          <%= @gamble.secondRaffled %>-
          <%= @gamble.thirdRaffled %>-
          <%= @gamble.fourthRaffled %>-
          <%= @gamble.fifthRaffled %>
        </div>
        <div class="row margin">
           <h4><strong>Aciertos</strong></h4>  
           <%= @gamble.profit %>
        </div>

      </div>
    </div>
  </div>
</div>

