<div class="row" style="margin: 10px;">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-body">      
        <h3 style= "color: gold;"><strong>Log in</strong></h3>        
      	<%= form_for(:session, url: login_path) do |f| %>
         <div class="row">
            <div class="col-md-4">
              <%= f.label :nickname, "Nombre de usuario:" %>
             <%= f.text_field :nickname,class: 'form-control'  %>              
            </div>
          </div>        
          <div class="row">
            <div class="col-md-4">
               <%= f.label :password, "Contrasena" %>
              <%= f.password_field :password, class: 'form-control' %>              
            </div>
          </div>         
          </br>
          <%= f.submit "Ingresar" ,class: 'btn btn-primary' %>
        <% end %>

			<p>Nuevo usuario? <%= link_to "Registrate!", root_path %></p>
      </div>  
    </div>
  </div>
</div>






