<h1> Numeros seleccionados: </h1>
  <%= @gamble.created_at %> - Numeros Elegidos: 
  <%= @gamble.firstChosen %>,
  <%= @gamble.secondChosen %>,
  <%= @gamble.thirdChosen %>,
  <%= @gamble.fourthChosen %>,
  <%= @gamble.fifthChosen %>

<h1> Numeros sorteados: </h1>
  <%= @gamble.firstRaffled %>,
  <%= @gamble.secondRaffled %>,
  <%= @gamble.thirdRaffled %>,
  <%= @gamble.fourthRaffled %>,
  <%= @gamble.fifthRaffled %>